@model ProductCategoryViewModel
@{
    ViewData["Title"] = Model.Category.Name + (Model.Products.PageIndex == 1 ? "" : " - " + " Page " + Model.Products.PageIndex);
    ViewData["Description"] = Model.Category.Name + (Model.Products.PageIndex == 1 ? "" : " - " + " Page " + Model.Products.PageIndex);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Page Layout-->
        <div class="d-flex flex-row">
            <!--begin::Aside-->
            @await Component.InvokeAsync("Aside")
            <!--end::Aside-->
            <!--begin::Layout-->
            <div class="flex-row-fluid ml-lg-8">
                <!--begin::Card-->
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-body">
                        <!--begin::Section-->
                        <div class="mb-11">
                            <!--begin::Heading-->
                            <div class="d-flex justify-content-between align-items-center mb-7">
                                <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">@Model.Category.Name</h2>
                            </div>
                            <!--end::Heading-->
                            <!--begin::Products-->
                            <div class="row">
                                <!--begin::Product-->
                                @foreach (var item in Model.Products.Items)
                                {
                                    var url = $"/{ViewBag.CurrentCulture}/san-pham/{item.Id}";
                                    var thumbnailImage = ViewBag.BaseAddress + @item.ThumbnailImage;

                                    <div class="col-md-4 col-lg-12 col-xxl-4">
                                        <!--begin::Card-->
                                        <div class="card card-custom card-shadowless">
                                            <div class="card-body p-0">
                                                <!--begin::Image-->
                                                <div class="overlay">
                                                    <div class="overlay-wrapper rounded bg-light text-center">
                                                        <img src="@thumbnailImage" alt="@item.Name" class="mw-100 w-200px" />
                                                    </div>
                                                    <div class="overlay-layer">
                                                        <a href="@url" class="btn font-weight-bolder btn-sm btn-primary mr-2">Xem</a>
                                                        <a href="#" data-id="@item.Id" class="btn font-weight-bolder btn-sm btn-light-primary btn-add-cart">Mua</a>
                                                    </div>
                                                </div>
                                                <!--end::Image-->
                                                <!--begin::Details-->
                                                <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                                                    <a href="@url" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">@item.Name</a>
                                                    <span class="font-size-lg">@item.Price.ToString("0")đ</span>
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                        </div>
                                        <!--end::Card-->
                                    </div>
                                }
                                <!--end::Product-->
                            </div>
                            <!--end::Products-->
                            <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded">
                                @await Component.InvokeAsync("Pager", Model.Products)
                            </div>
                        </div>
                        <!--end::Section-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Layout-->
        </div>
        <!--end::Page Layout-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->